header.header
	.header__col
		.header__logo.header__logo__1.animate__fadeIn 
			img(src="img/logo__1.png", alt="")
	.header__col
		.header__logo.header__logo__2.animate__fadeIn
			img(src="img/logo__2.png", alt="")